In [1]:
import pandas as p
import re
import string

In [2]:
input_directory = "C:/Users/BLAHBLAHBLAH/Desktop/tweets_from_random_users.csv"
output_directory = "C:/Users/BLAHBLAHBLAH/Desktop/tweets_from_random_users_cleaned.csv"
bad_words = ['@', 'http', 'RT']

In [3]:
def clean_text(text):
    text = text.lower()
    text = re.sub(
    "\[.*?\]",
    "",
    text)
    text = re.sub(
    "[%s]" % re.escape(string.punctuation),
    "",
    text)
    text = re.sub(
    "[‚Äú‚Äù‚Äô]",
    "",
    text)
    text = re.sub(
    "\w*\d\w*",
    "",
    text)
    
    return text

def remove_words_that_begin_with(text, bad_words):
    for bad_word in bad_words:
        text = ' '.join(word for word in text.split(' ') if not word.startswith(bad_word))
    return text

In [4]:
data = p.read_csv(input_directory, dtype = {'tweets': str})
data.tweets = data.tweets.apply(str)
data.head(5)

         date                                             tweets     name
0  2020-05-27  RT @JimBridenstine: üå©Ô∏è No launch for today - s...  NASAJPL
1  2020-05-27  @mrjorgesen @AstroBehnken @Astro_Doug @Space_S...  NASAJPL
2  2020-05-27  Join us as @AstroBehnken &amp; @Astro_Doug lau...  NASAJPL
3  2020-05-26  @mycroft16 @Caltech @AstroBehnken @NASA @Astro...  NASAJPL
4  2020-05-26  It's a moral imperative we give a shoutout to ...  NASAJPL

In [5]:
data0 = data
data0.tweets = data.tweets.apply(
    lambda x: remove_words_that_begin_with(x, bad_words)
)
data0.head(5)

         date                                             tweets     name
0  2020-05-27  üå©Ô∏è No launch for today - safety for our crew m...  NASAJPL
1  2020-05-27           Astronauts are pros when it comes to qu‚Ä¶  NASAJPL
2  2020-05-27  Join us as &amp; launch to the on #CrewDragon....  NASAJPL
3  2020-05-26                                                     NASAJPL
4  2020-05-26  It's a moral imperative we give a shoutout to ...  NASAJPL

In [6]:
data1 = data0
data1.tweets = data0.tweets.apply(clean_text)
data1.head(5)

         date                                             tweets     name
0  2020-05-27  üå©Ô∏è no launch for today  safety for our crew me...  NASAJPL
1  2020-05-27           astronauts are pros when it comes to qu‚Ä¶  NASAJPL
2  2020-05-27  join us as amp launch to the on crewdragon enj...  NASAJPL
3  2020-05-26                                                     NASAJPL
4  2020-05-26  its a moral imperative we give a shoutout to a...  NASAJPL

In [7]:
data0.to_csv(output_directory, index = False)